$cell-size: 16px;
$cell-size-md: 14px;
$cell-size-sm: 12px;
$cell-size-xs: 9px;

$break-md: 1000px;
$break-md-sm: 850px;
$break-sm: 750px;
$break-xs: 600px;

$footer-height: 60px;
$controller-width: 300px;

$magenta: #900C3F;
$magenta2: #801638;
$blue: #027878;
$yellow: #ffc30f;
$orange: #ff5733;
$red: #c70039;
$dark: #222;
$light: #fafafa;
$grey: #aaa;

$main-font: "Montserrat", sans-serif;