@import 'variables';

.app {
  min-height: 100vh;
  position: relative;
  background-color: $magenta;
}

.app-header {
  h1 {
    text-align: center;
    font-family: 'Nova Mono', monospace;
    font-size: 2.2rem;
    color: $light;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    margin: 0;
    padding: 0.3em 0.5em 0.4em 0.5em;
  }
}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $footer-height;
}

.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darken($light, 10%);
  padding: 0 0.5em;
  a {
    color: $light;
  }
}