@import 'variables';

%controller-div {
  background-color: $yellow;
  border-radius: 8px;
  margin: 1rem;
  padding: 0.5em 0;
  p {
    padding: 0 0.5em 0.4em 0.5em;
    margin: 0;
  }
}

.controller {
  font-family: $main-font;
  display: flex;
  margin: 0 1em;
  @media screen and (max-width: $break-sm) {
    font-size: 0.9em;
    flex-direction: column;
  }

  .controller-controls {
    @extend %controller-div;
    flex: 4;
    height: max-content; 
  }
  .controller-start-config {
    @extend %controller-div;
    flex: 5;
    span {
      color: rgba(0,0,0,0.7);
    }
  }
  .controller-button {
    display: block;
    width: 100%;
    color: white;
    border: none;
    padding: 0.4em;
    height: 2.1rem;
    font-size: 1em;
    font-family: $main-font;
    border-bottom: 1px solid $grey;
    background-color: darken($yellow, 8%);
    cursor: pointer;
    &:nth-child(2) {
      border-top: 1px solid $grey;
    }
    &:hover, &:focus {
      outline: none;
      background-color: darken($yellow, 6%);
    }
    &:active {
      font-size: 0.95em;
      background-color: darken($yellow, 4%);
    }
    @media screen and (max-width: $break-sm) {
      font-size: 0.9em;
    }
  }
  .controller-pattern-dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .controller-dropdown-element {
      .controller-dropdown-button {
        display: block;
        width: 90%;
        margin: auto;
        color: $light;
        border: none;
        padding: 0.3em;
        height: 1.8rem;
        font-size: 0.9em;
        font-family: $main-font;
        background-color: darken($yellow, 6%);
        border-bottom: 1px solid $grey;
        cursor: pointer;
        &:hover, &:focus {
          outline: none;
          background-color: darken($yellow, 4%);
        }
        &:active {
          font-size: 0.85em;
          background-color: darken($yellow, 2%);
        }
        @media screen and (max-width: $break-sm) {
          font-size: 0.8em;
        }
      }
    }
  }
}