@import 'variables';

.gameboard {
  border: 3px solid rgba(0,0,0,0.5);
  background-color: $light;
  margin: 0 1rem;
}

.board-row {
  margin: 0;
  padding: 0;
  font-size: 0;
  display: flex;
}

.board-cell {
  height: $cell-size;
  width: $cell-size;
  display: inline-block;
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;
  @media screen and (max-width: $break-md-sm) {
    height: $cell-size-md;
    width: $cell-size-md;
  }
  @media screen and (max-width: $break-sm) {
    height: $cell-size-sm;
    width: $cell-size-sm;
  }
  @media screen and (max-width: $break-xs) {
    height: $cell-size-xs;
    width: $cell-size-xs;
  }
  &.active {
    background-color: $dark;
  }
}