@import 'variables';

.generations {
  margin: 0 1em 0.5em 1em;
  font-size: 1.1em;
  color: lighten($yellow, 15%);
  text-align: center;
  font-family: $main-font;
  span {
    color: lighten($magenta, 15%);
    border-radius: 3px;
    padding: 0.15em 0.55em;
    margin: 0.5em;
    font-family: 'Nova Mono', monospace;
    background-color: $yellow;
    font-size: 1.05em;
    text-shadow: 0 0 2px white;
  }
}