.app {
  min-height: 100vh;
  position: relative;
  background-color: #900C3F; }

.app-header h1 {
  text-align: center;
  font-family: 'Nova Mono', monospace;
  font-size: 2.2rem;
  color: #fafafa;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0.3em 0.5em 0.4em 0.5em; }

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px; }

.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e1e1e1;
  padding: 0 0.5em; }
  .app-footer a {
    color: #fafafa; }
